<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <h1>
        Welcome, {{session['first_name']}}
    </h1>
    <p>
        <a href="/recipe/new">
            Create
        </a>
    </p>
    <p>
        <a href="/user/logout">
            Logout
        </a>
    </p>
    <div>
        All posted recipes:
    </div>
    <table>
        <!--we need to loop through the recipes!!!-->
        <tr>
            <th>
                Name
            </th>
            <th>
                Under
            </th>
            <th>
                Posted By
            </th>
            <th>
                Actions
            </th>
        </tr>
        {% for recipe in list_recipes: %}
        <tr>
            <td>
                 {{recipe.name}}
            </td>
            <td>
                 {% if recipe.under_30 == 1: %} <!--to display just the 1 (raw input), {{recipe.under_30}}-->
                    Yes
                 {% else: %}
                    No
                 {% endif %}
            </td>
            <td>
                 {{recipe.user.first_name}}{{recipe.user.last_name}}
            </td>
            <td>
                 <a href="/recipes/{{recipe.id}}">  <!--TDS(5:58 in 3)  create display route in recipes_controller-->
                   View recipe
                 </a>
                 {% if session['user_id'] == recipe.user.id : %}  <!--refs recipe on line 42-->
                 |
                 <a href="/recipes/{{recipe.id}}/update">
                    Edit
                 </a>
                 |
                 <a href="recipes/{{recipe.id}}/delete">
                    Delete
                 </a>
                 {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</body>
</html>